#main {
	
}

#header-panel {
	background-color: red;
}

#navigator-panel {
	background-color: yellow;
}

#center-panel {
	background-color: silver;
}

#menu-panel {
	background-color: orange;
}

#content-panel {
	background-color: green;
}