.table {
	border-collapse: collapse;
	border: 1px solid #CB197D;
	overflow: auto;
	width: 100%;
}

.header {
	background: #CB197D;
	color: white;
	border-right: 1px solid white;
	padding: 0px;
	border-collapse: collapse;
}

.firstColumn {
	text-align: center;
	color: #CB197D;
}

.firstColumn:HOVER {
	color: white;
	background-color: #CB197D;
}

.secondColumn {
	text-align: center;
}

.secondColumn:HOVER {
	color: white;
	background-color: #CB197D;
}

.footer {
	text-align: center;
	background: #CB197D;
	color: white;
}